body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* BEGIN (write your solution here) */
#header {
    margin-bottom: 32px;
}
#footer {
    margin-top: 64px;
}
.name {
    font-weight: bold;
}
.date {
    font-style: italic;
}
h1 {
    font-size: 36px;
}
h2 {
    font-weight: bold;
    font-size: 32px;
    border-bottom-color: 1px, gray;
    
}
h3 {
    font-size: 20px
}
